<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="img/favicon.jpg" type="image/x-icon">
		<link rel="stylesheet" href="css/style.css">
		<script src="/js/eye.js"></script>
		<title>changing/password</title>				
	</head>
	<body>
		<div class="container">
			<h1>changePassword</h1>
			<form id="form" action="#" method="post">
				<div class="input-group">
					<label for="email">email<b class="main">*</b></label>
					<input
						type="email"
						name="email"
						id="email"
						required
						placeholder="email"
					/>
				</div>
				<div class="input-group">
					<label for="password">last password you remember <b class="main">*</b></label>
					<input
						type="password"
						name="password"
						id="password"
						required
						placeholder="password"
						id="myinput"
					/>
					<span class="eye" onclick=" myfunction()">
						<i class="fa fa-eye" id="hide1"></i>
						<i class="fa fa-eye-slash" id="hide2"></i>
					</span>
				</div>
				<div class="input-group">
					<label for="password">enter new password <b class="main">*</b></label>
					<input
						type="password"
						name="setpassword"
						id="password"
						required
						placeholder="password"
						id="myinput"
					/>	<span class="eye" onclick=" myfunction()">
						<i class="fa fa-eye" id="hide1"></i>
						<i class="fa fa-eye-slash" id="hide2"></i>
					</span>
                    <div class="input-group">
					<label for="password">re-enter <b class="main">*</b></label>
					<input
						type="password"
						name="repass"
						id="password"
						required
						placeholder="password"
						id="myinput"
					/>	<span class="eye" onclick=" myfunction()">
						<i class="fa fa-eye" id="hide1"></i>
						<i class="fa fa-eye-slash" id="hide2"></i>
					</span>
				</div>
				<button class="submit-btn" type="submit">change</button>
			</form>
		</div>
	</body>
</html>
